<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CustomerGraphQl\Model\Resolver\CreateCustomer">
        <plugin name="fevicreate_customer_capture_graphql_otp"
                type="Fevicreate\CustomerLoginOtp\Plugin\CustomerAccountOtpPlugin"
                sortOrder="11"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customerloginotp_index_listing_data_source" xsi:type="string">Fevicreate\CustomerLoginOtp\Model\ResourceModel\Otp\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Fevicreate\CustomerLoginOtp\Model\ResourceModel\Otp\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">customerloginotp</argument>
            <argument name="eventPrefix" xsi:type="string">fevicreate_customerloginotp_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">customerloginotp_collection</argument>
            <argument name="resourceModel" xsi:type="string">Fevicreate\CustomerLoginOtp\Model\ResourceModel\Otp</argument>
        </arguments>
    </type>
    <virtualType name="CustomerLoginOtpGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="CustomerLoginOtpGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Fevicreate\CustomerLoginOtp\Model\ResourceModel\Otp\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">CustomerLoginOtpGirdFilterPool</argument>
        </arguments>
    </virtualType>
</config>
