<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="embitel_idealab" id="embitel_idealab">
			<module before="Magento_Backend" name="Embitel_Idealab"/>
		</route>
	</router>
</config>
